
<div class="container ">
  <div *ngFor="let cat of cats" class="row py-5 my-5">
    <div class="col-lg-3">
      <app-cat-profile-picture [cat]=cat></app-cat-profile-picture>
    </div>
    <div class="col-lg-9">
      <div class="mx-5 px-5">
        <h3>{{ cat.name }}</h3>
        <p>{{ cat.description }}</p>
      </div>
     <!-- <app-carousel [catImage]=cat.kittenImages></app-carousel>-->
    </div>
    <button>Delete</button>
    <button (click)="onDelete(cat.id)">Edit</button>
  </div>
  <div>
    <app-image-upload></app-image-upload>
  </div>
</div>
