<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 mx-5 px-5 h1">BigFods</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-5 " id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item  mx-5">
          Katzen & Kitten
        </li>
        <li class="nav-item  mx-5">
          Kater
        </li>
        <li class="nav-item mx-5">
          Bleibe
        </li>
        <li class="nav-item mx-5">
          Wir
        </li>
        <li class="nav-item mx-5">
          Kontakt
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-hero-image></app-hero-image>
